<div id="footer">       
    <div class="container">       
        <div class="row footer-content">           
            <div class="span4 footer-box">
            	<div class="footer-widget widget_text"><h4 class="widgettitle2">About Cafehouse</h4>			
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet pharetra purus. Sed ut pharetra justo. Vestibulum dapibus nulla ac risus convallis non mollis purus pellentesque.</p>
                    </div>
				</div>            
			</div>
        
            <div class="span4 footer-box">
            	<div class="footer-widget tweet_widget "><h4 class="widgettitle2">Latest Tweets</h4>
					<div class="tweet"></div>
				</div>            
			</div>
        
            <div class="span4 footer-box">
            	<div class="footer-widget widget_text"><h4 class="widgettitle2">Contact us</h4>			
					<div class="textwidget">
						<p>Resende-RJ, Vila-Julieta, Avenida Brasilia 660</p>
						<p>Phone: (24) 99832-9477</p>
						<p>Email: pcmanutencaot.i@gmail.com</p>
					</div>
				</div>
			</div>        		 
		</div>
       
        <div id="copyright">
			<p>&copy; 2020 Bob Pai. All rights reserved.</p>
        </div>
       
        <div class="social">
	    <ul>
            <li class="twitter"><a title="Twitter" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="facebook"><a title="Facebook" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="rss"><a title="RSS Feed" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="stumble"><a title="StumbleUpon" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="linkedin"><a title="Linkedin" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="vimeo"><a title="Vimeo" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="flickr"><a title="Flickr" href="#" target="_blank" rel="nofollow"></a></li>
            <li class="picasa"><a title="Picasa" href="#" target="_blank" rel="nofollow"></a></li>
	    </ul>
        </div>        
        <div class="column-clear"></div>        
    </div>
</div>		
    <p id="backTop"><a href="#top">Top&uarr;</a></p>