<div class="sidebar-scroll">
    <div id="sidebar" class="nav-collapse collapse">
         <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div>
          <ul class="sidebar-menu">
              <li class="sub-menu">
                  <a class="" href="/Admin/Restaurant">
                      <i class="icon-food"></i>
                      <span>Restaurant</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a class="" href="/Admin/Menu">
                      <i class="icon-book"></i>
                      <span>Menu</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a class="" href="/Admin/Reserves">
                      <i class="icon-plus-sign"></i>
                      <span>Reserves</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a class="" href="javascript:;">
                      <i class="icon-camera"></i>
                      <span>Gallery</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a href="/Admin/Gallery/Videos" class=""> Videos</a></li>
                      <li><a href="/Admin/Gallery/Pics" class=""> Pictures</a></li>
                  </ul>
              </li>
              <li class="sub-menu">
                  <a class="" href="/Admin/News">
                      <i class="icon-paperclip"></i>
                      <span>News</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a class="" href="/Admin/Contact">
                      <i class="icon-user"></i>
                      <span>Contact</span>
                  </a>
              </li>
              {{!-- <li class="sub-menu">
                  <a class="" href="javascript:;">
                      <i class="icon-map-marker"></i>
                      <span>Maps</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a href="vector_map.html" class="">Vector Maps</a></li>
                      <li><a href="google_map.html" class="">Google Map</a></li>
                  </ul>
              </li> --}}
          </ul>
    </div>
</div>