<div class="wrap">
	<div class="container">
		<div class="row">
			<div class="span7 logo">
				<h1 id="logo"><a href="/"><img src="images/logo-green.png" alt=""/></a></h1>
			</div>
			
			<div class="span5 open-hours">
				<h3 class="open-title">Open Hours</h3>			
				<div class="open-text">
					<div class="open-day"> <span class="day">Monday - Friday</span> : 11:00 AM - 15:00 PM</div>
					<div class="open-day"> <span class="day">Saturday - Sunday</span> : 09:00 AM - 14:00 PM</div>
				</div>
			</div> 
		</div>
	</div> 
</div> 
	     
<div id="menu-holder">
	<ul class="menu"><li class="current-menu-item"><a href="/">Home</a></li>
		<li><a href="/Restaurant">The Restaurant</a></li>
		<li><a href="/Menu">Menu</a></li>
		<li><a href="/Reservations">Reservations</a></li>
		<li><a href="#">Gallery</a>
			<ul class="sub-menu">
				<li><a href="/Gallery/Videos">Videos</a></li>
				<li><a href="/Gallery/Pics">Pics</a></li>
			</ul>
		</li>
		<li><a href="/News">News</a></li>
		<li><a href="/Contact">Contact</a></li>
	</ul>
</div>