<div class="row-fluid">
    <div class="span7 responsive" data-tablet="span7 fix-margin" data-desktop="span7">
        <div class="widget yellow">
            <div class="widget-title">
                <h4><i class="icon-calendar"></i> Calendar</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>
            <div class="widget-body">
                <div id="calendar" class="has-toolbar"></div>
            </div>
        </div>
    </div>
</div>