<div class="top-img">
	<img src="images/default-top.jpg" title="" alt="" width="1000" height="160"/>
	<h1 class="post-title-page">Our Menu</h1>
</div>

<div class="wrap-content">
	<div class="container">
		<ul class="portfolio-categ">
			<li class="cat-item"><a href="menu-section.html" title="View all posts filed under Appetizers">Appetizers</a></li>
			<li class="cat-item"><a href="menu-section.html" title="View all posts filed under Desserts">Desserts</a></li>
			<li class="cat-item"><a href="menu-section.html" title="View all posts filed under Main Dishes">Main Dishes</a></li>
			<li class="cat-item"><a href="menu-section.html" title="View all posts filed under Soups">Soups</a></li>
			<div class="column-clear"></div>
		</ul>
		   
		<h2 class="categ_name">Appetizers</h2>		
		<div class="row">		  						   
			<div class="span6">
				<div class="foodmenu_img">
					<img width="60" height="60" src="images/_menu/avocado-tomato-60x60.jpg" alt="Avocado, Tomato and Mango Salsa" title="" /><a class="lightbox" href="images/_menu/avocado-tomato.jpg" rel="galimages" title="Avocado, Tomato and Mango Salsa" ><div class="mask_foodmenu"><span class="mglass">More</span> </div> </a>
				</div>
			 
				<div class="foodmenu_info">
					<h3 class="foodmenu_item_title"><a href="menu-single.html" title="Avocado, Tomato and Mango Salsa">Avocado, Tomato and Mango Salsa</a><span class="item_price">$4.00</span></h3>
					<p>Looking for a refreshing salsa for a warm summer evening? This is our favorite. Serve...</p>
				</div>
			   <div class="column-clear"></div>
			</div>					
		</div>
						
		<h2 class="categ_name">Desserts</h2>
		<div class="row">		  						   
			<div class="span6">
				<div class="foodmenu_img">
					<img width="60" height="60" src="images/_menu/avocado-tomato-60x60.jpg" alt="Avocado, Tomato and Mango Salsa" title="" /><a class="lightbox" href="images/_menu/avocado-tomato.jpg" rel="galimages" title="Avocado, Tomato and Mango Salsa" ><div class="mask_foodmenu"><span class="mglass">More</span> </div> </a>
				</div>
			 
				<div class="foodmenu_info">
					<h3 class="foodmenu_item_title"><a href="menu-single.html" title="Avocado, Tomato and Mango Salsa">Avocado, Tomato and Mango Salsa</a><span class="item_price">$4.00</span></h3>
					<p>Looking for a refreshing salsa for a warm summer evening? This is our favorite. Serve...</p>
				</div>
			   <div class="column-clear"></div>
			</div>					
		</div> 
						
		<h2 class="categ_name">Main Dishes</h2>
		<div class="row">		  						   
			<div class="span6">
				<div class="foodmenu_img">
					<img width="60" height="60" src="images/_menu/avocado-tomato-60x60.jpg" alt="Avocado, Tomato and Mango Salsa" title="" /><a class="lightbox" href="images/_menu/avocado-tomato.jpg" rel="galimages" title="Avocado, Tomato and Mango Salsa" ><div class="mask_foodmenu"><span class="mglass">More</span> </div> </a>
				</div>
			 
				<div class="foodmenu_info">
					<h3 class="foodmenu_item_title"><a href="menu-single.html" title="Avocado, Tomato and Mango Salsa">Avocado, Tomato and Mango Salsa</a><span class="item_price">$4.00</span></h3>
					<p>Looking for a refreshing salsa for a warm summer evening? This is our favorite. Serve...</p>
				</div>
			   <div class="column-clear"></div>
			</div>					
		</div>						   
						
		<h2 class="categ_name">Soups</h2>
		<div class="row">		  						   
			<div class="span6">
				<div class="foodmenu_img">
					<img width="60" height="60" src="images/_menu/avocado-tomato-60x60.jpg" alt="Avocado, Tomato and Mango Salsa" title="" /><a class="lightbox" href="images/_menu/avocado-tomato.jpg" rel="galimages" title="Avocado, Tomato and Mango Salsa" ><div class="mask_foodmenu"><span class="mglass">More</span> </div> </a>
				</div>
			 
				<div class="foodmenu_info">
					<h3 class="foodmenu_item_title"><a href="menu-single.html" title="Avocado, Tomato and Mango Salsa">Avocado, Tomato and Mango Salsa</a><span class="item_price">$4.00</span></h3>
					<p>Looking for a refreshing salsa for a warm summer evening? This is our favorite. Serve...</p>
				</div>
			   <div class="column-clear"></div>
			</div>					
		</div>
	</div>
</div>