<div class="wrap-slider">
  <div class="container">
   <div class="flexslider">
	  <ul class="slides">
		   <li>
				<a href="#"><img src="images/_home/big-image-1.jpg" /></a>
				<div class="flex-caption">
					<h2>CafeHouse is Responsive!</h2>
					<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia.</p>
				</div>
			</li>
	  </ul>
	</div>
  </div>
</div>

<div class="wrap-header">
	<div class="container">
		<div class="row">
			<div class=" span10 home-text">Explore our food&amp;drinks menu including appetizers, soups, sushi, main dishes, desserts, wine, cocktails, beers, coffee, non-alcoholic drinks. Cum sociis natoque penatibus et magnis dis parturient montes.
			</div>
			<div class="span2 btn-menu"><a href="menu.html" class="explore">Open Menu</a>
			</div>
		</div>
	</div>
</div>

<div class="wrap-content">
	<div class="container">
		<div class="row">
			<div class="span4 col-home">
				<h2 class="home-title">Welcome to CafeHouse!</h2>
				<div class="home-img">
					<img src="images/_home/restaurant-1.jpg" alt="" />
					<a href="blog.html" >
						<div class="mask">
							<span class="link-img">More</span> 
						</div> 
					</a>
				</div>
				
				<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia. Nulla facilisi. Risus et justo dignissim congue. Donec cone lacinia dui, a potitor lec tus condimentum lao. Nunc eu ullamcorper.</p>
				<p class="text-right">
					<a href="blog.html" class="read-more">Read More</a>
				</p>
				<div class="column-clear"></div>
			</div>

			<div class="span4 col-home">
				<h2 class="home-title">Food&Drinks Menu</h2>
				<div class="home-img">
					<img src="images/_home/restaurant-2.jpg" alt="" />
					<a href="menu.html" >
						<div class="mask">
							<span class="link-img">More</span> 
						</div>
					</a>
				</div>
				<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia. Nulla facilisi. Risus et justo dignissim congue. Donec cone lacinia dui, a potitor lec tus condimentum lao. Nunc eu ullamcorper.</p>
				<p class="text-right">
					<a href="menu.html" class="read-more">Read More</a>
				</p>
				<div class="column-clear"></div>
			</div>

			<div class="span4 col-home">
				<h2 class="home-title">Book a Table</h2>
				<div class="home-img">
					<img src="images/_home/restaurant-3.jpg" alt="" />
					<a href="reservation.html" >
						<div class="mask">
							<span class="link-img">More</span> 
						</div> 
					</a>
				</div>
				
				<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia. Nulla facilisi. Risus et justo dignissim congue. Donec cone lacinia dui, a potitor lec tus condimentum lao. Nunc eu ullamcorper.</p>
				<p class="text-right">
					<a href="reservation.html" class="read-more">Read More</a>
				</p>
				<div class="column-clear"></div>
			</div>
		</div>

		<div class="row home-bottom">
			<div class="span8">
				<h2 class="home-title">This Week Promos</h2>

				<div class="slides_container">
					<div class="slide">
						<div class="slide_title">Curabitur vulputate, ligula<span> $7.00</span></div>						
						<div class="slide_text">
							<div class="slide_image">
								<img src="images/_home/p1.jpg" rel="" alt="" title=""/>
							</div>
							
							<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia. Nulla facilisi. Risus et justo dignissim congue. Donec cone lacinia dui, a potitor lec tus condimentum lao. Nunc eu ullamcorper.</p>
							<p class="text-right">
								<a href="gallery-3col.html" class="read-more">Read More</a>
							</p>
							<div class="column-clear"></div>
						</div>                      
					</div>
				</div>
			</div>
			
			<div class="span4">
				<h2 class="home-title">News&Events</h2>

				<div class="post-home">
					<span class="home-time">April 10, 2013</span>
					<h2 class="home-post-title">
						<a href="single-post.html" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus...</p>
				</div>
			</div>
		</div>
	</div>
</div>
